<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon App</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" 
        rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Press Start 2P', cursive;
          color: blanchedalmond;
          background-color: steelblue;
        }
        h2::first-letter {
            text-transform: capitalize;
        }
      </style>
</head>
<body>
   <h1>Gotta Catch 'Em All!</h1>
   <h2> <%=pokemon.name%></h2>
   <img src="<%=pokemon.img%>.jpg">
</br></br>
   <a href="../pokemon/">Back To Index</a>

</body>
</html>