<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1><%=product.name %> show page</h1>
        <%=product.name; %>
       <img style="max-width: 200px;" src="<%=product.img %>">
       <%=product.price %>
        <nav>
            <a href="/store">Back to Products Index</a>
        </nav>
    </body>
</html>