body {
  background-color: rgb(150, 143, 199);
  text-align: center;
}

.toad {
  font-family: fantasy;
}

ul {
  list-style-type: none;
}

.secret {
  opacity: 0.5;
}

table, td, th {
  border: 1px solid gray;
}

table {
  margin: 0 auto;
}