<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Budget App</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
  

   <div class="container">
    <h1>Hello Adult Life</h1> 
    <table>
    <% for (let i = 0; i < budget.length; i++) { %>
        <tr><td> <%= budget[i].date %> <a href='#'> <%= budget[i].name %></a> <%= budget[i].amount %></tr></td> 
       <% } %>
    </table>
   </div>
</body>
</html>