<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Budget App</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
</head>
<body>
  

   <div class="container">
    <h1>Hello Adult Life</h1> 
    <table>
    <% for (let i = 0; i < transaction.length; i++) { %>
        <tr><td> <%= transaction[i].date %> </td> <td><a href='/budgets/<%=i%>'><%= transaction[i].name %></a></td> <td><%= transaction[i].amount %></td> </tr>
       <% } %>
    </table>
    <button onclick="window.location.href = '/budgets/new';">Add New Item</button>
   </div>
</body>
</html>