.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hg-body {
  display: flex;
  flex: 1;
}

.center {
  flex: 1
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.dater > img {
  max-width: 150px;
  max-height: 150px;
}

.dater {
  display: flex;
  text-align: left;
}

.left, .right {
  /* display: flex; */
  max-width: max-content;
  /* flex: 0 0 12em; */
  padding: 5px;
}

.left {
  order: -1
}

/* .right {
  justify-content: flex-end;
} */