header {
   background-color: cadetblue; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: white;
}
header {
    text-align: center;
}

h3{
    font-family: 'Josefin Sans', sans-serif;
    color: cadetblue;
    font-size: 20px;
}

img {
    border: 5px solid white;
}

.third {
    width: 32%;
    padding: 5px;
    float: left;
}