body {
    background-color: royalblue;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

div {
    margin-bottom: 4px;
    margin-top: 4px;
}

.pokemon {
    width: 160px;
}

#container {
    max-width: 1040px;
    margin: 0 auto;
}

form {
    margin-bottom: 10px;
}