<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex</title>
</head>
<body>
    
    <h1>Welcome to the Pokedex App!</h1>
    <h2>Click the Pokemon's image to learn more about it!</h2>

    <div id="container" style="max-width: 920px;">
        <% for (let i = 0; i < data.length; i++) { %>
            
            <a href="/pokedex/<%=i%>"><img style="max-width:150px; max-height: 200px;" src="<%=data[i].img%>"></a>
        
           
           <% } %>
        

    </div>
</body>
</html>