<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokedex App</title>
</head>
<body>
    <h1>Add a New Pokemon</h1>
    
    <form action="/pokedex" method="POST">
    <label for="id">id:</label> <input id="id" type ="number" name="id" />
    <label for="name">Name:</label> <input id="name" type ="text" name="name" />
    <label for="img">Image:</label> <input id="img" type ="text" name="img" />
    <label for="type">Type:</label> <input id="type" type ="text" name="type" />
    <label for="classification">Classification:
    </label> <input id="classification" type ="text" name="classification" />
    <input type="submit" name="" value="Add Pokemon"/>
    </form>
    
    </form>

</body>
</html>